/* Button styling */
.my-button {
    background-color: #ffffff; /* Green */
    border: 2px solid #000000; /* 2px red border */
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.my-button:hover {
    background-color: #000000;
    border: 2px solid #ff0000; /* 2px red border */
    color: rgb(255, 255, 255);
}
